$flarior-breadcrumb-lineheight: 36px;

$flarior-menu-first-color: #666;
$flarior-menu-second-color: #333;
$flarior-menu-third-color: #000;

$flarior-title-height: 36px;
$flarior-title-first-color: #333;
$flarior-title-second-color: #000;

$flarior-dayname-height: 25px;
