.todo {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  z-index: 3;
  transition: width 0.3s ease-in-out;
  background: white;
  text-align: right;
  background: #333;
  background: linear-gradient(#333, #000);
  box-shadow: -2px 1px 5px #333;
}

.todo:target {
  width: 20%;
}

.todo a {
  text-decoration: none;
  color: red;
}

.todo ul {
  color: white;
  text-align: left;
}

.todo-menu {
  float: right !important;
}
