.title {
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
  background: $flarior-title-first-color;
  background: linear-gradient($flarior-title-first-color, $flarior-title-second-color);
  line-height: 15px;
  height: $flarior-title-height;
}

.title--item {
  display: inline-block;
  text-align: center;
}

.title--previous {
  text-align: left;
}

.title--next {
  text-align: right;
}

.title a {
  text-decoration: none;
}

.title--item h3 {
  display: inline-block;
  color: #aad;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.title--item {
  color: #777;
}

.title--previous a, .title--next a {
  text-align: center;
  display: block;
  max-width: 30px;
  color: #c66;
  padding-bottom: 20px;
}

.title--next a {
  margin: auto;
  margin-right: 0;
}

.title--previous, .title--next {
  line-height: 0px;
}
