// SETTINGS
@import "bower_components/inuit-defaults/settings.defaults";
@import "bower_components/inuit-responsive-settings/settings.responsive";


// TOOLS
@import "bower_components/inuit-functions/tools.functions";
@import "bower_components/inuit-mixins/tools.mixins";
@import "bower_components/inuit-tools-widths/tools.widths";
@import "bower_components/inuit-responsive-tools/tools.responsive";


// GENERIC
@import "bower_components/inuit-normalize/generic.normalize";
@import "bower_components/inuit-box-sizing/generic.box-sizing";
@import "generic/defaults";


// BASE
@import "bower_components/inuit-page/base.page";


// OBJECTS
@import "bower_components/inuit-layout/objects.layout";
@import "bower_components/inuit-buttons/objects.buttons";


// COMPONENTS (Custom stuff)

// TRUMPS
@import "bower_components/inuit-widths/trumps.widths";
@import "bower_components/inuit-spacing/trumps.spacing";
@import "bower_components/inuit-widths-responsive/trumps.widths-responsive";
@import "bower_components/inuit-spacing-responsive/trumps.spacing-responsive";
@import "trumps/defaults";

@import "menu";
@import "title";

html, body{
  height: 100%;
}

body {
  background: #aaa;
  background: linear-gradient(#aaa, #555);
}

.text--small {
  font-size: 80%;
}

.day {
  display: inline-block;
  text-align: center;
  border-right: 1px solid #444;
}

.day:last-child {
  border-right: none;
}

.day-name {
  height: 4%;
  display: inline-block;
}

.content {
  height: calc(100vh - 36px - 36px);
}

.hour {
  height: 4%;
  border-top: 1px solid #aaa;
}

.day-of-month {
  font-size: 80%;
}
